<h1>Listing items</h1>
<table id="itemsTable">
  <tr>
    <th>Text</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

</table>

<script type="text/html" id="itemTemplate">
  <tr>
    <td>${text}</td>
    <td>${showLink}</td>
    <td>${editLink}</td>
    <td>${destroyLink}</td>
  </tr>
</script>
<br/>

<%= link_to 'New Item', new_item_path %>
